@import "reset";
@import "mixin";
@import "variables";

#header {
    width: 100%;
    height: 90px;
    background-color: $pinkish;
    position: fixed;
    z-index: 1000;
    .logo {
        font-size: 3rem;
        font-family: pristina;
        color: #fff;
        line-height: 90px;
        padding-left: 10px;
    }
    h1 {
        cursor: pointer;
    }
    .main-nav {
        position: absolute;
        right: 30px;
        top: 30px;
        color: white;
        font-size: 1.4rem;
    }
    .main-nav .fas, .main-nav .fa {
        padding: 0 7px;
        cursor: pointer;
    }
}

#sidebar {
    width: 300px;
    height: calc(100% - 90px);
    background-color: #000;
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    z-index: 1000;
    
    .background-img {
        width: 100%;
        height: 100vh;
        background-image: url(../images/grid3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    ul {
        padding-top: 14.3rem;
    }
    ul li {
        @include h4SP;
        font-size: 1.6rem;
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
        &:hover {
            color: #fff;
            cursor: pointer;
        }
    }
}

.container {
    h3 {
        @include heading;
    }
    span {
        @include headSpan;
    }
}

#news {
    @include parentFormat;
    h3 {
        padding-top: 160px;
    }
    .article1 {
        background-image: url(../images/grid20.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 60px;
    }
    .article2 {
        background-image: url(../images/grid7.jpg);
        @include background;
    }
    .article3 {
        background-image: url(../images/grid8.jpg);
        @include background;
    }
    .artticle {
        background-image: url(../images/grid6.jpg);
        @include background;
    }
    .wrapper div {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 300ms ease-in-out;
        }
    }
    .wrapper a {
        color: #fff;
        position: relative;
        top: 50%;
        display: block;
        text-align: center;
        @include h5BP;
        &:hover {
            color: $pinkish;
            transition: all 300ms ease-in-out;
        }
    }
    .text {
        @include text;
    }
    .date {
        @include date;
    }
    .link {
        @include link;
    }
}

#article {
    .article1 {
        background-image: url(../images/grid1.jpg);
        @include background;
    }
    .article2 {
        background-image: url(../images/grid2.jpg);
        @include background;
    }
    .article3 {
        background-image: url(../images/grid3.jpg);
        @include background;
    }
    .wrapper .article__container1 .section2 div {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 300ms ease-in-out;
        }
        a {
            display: flex;
            justify-content: center;
            color: white;
            font-size: 1.1rem;
        }
    }
    .article__container2 {
        justify-content: center !important;
        .post_item1 .img {
            background-image: url(../images/m1.jpg);
            @include category;
        }
        .post_item2 .img {
            background-image: url(../images/m2.jpg);
            @include category;
        }
        .post_item3 .img {
            background-image: url(../images/m3.jpg);
            @include category;
        }
        .post_item4 .img {
            background-image: url(../images/m4.jpg);
            @include category;
        }
        .post_item1, .post_item2, .post_item3, .post_item4 {
            display: flex;
        }
        .post_item1 p, .post_item2 p, .post_item3 p, .post_item4 p {
            @include post-item;
            color: #000 !important;
        }
        .post_item1 span, .post_item2 span, .post_item3 span, .post_item4 span {
            @include post-item;
            font-size: 14px;
        }
    }
    .text {
        @include text;
    }
    .date {
        @include date;
    }
    .link {
        @include link;
    }
}

#lifestyle {
    .article__container1 {
        .style1 {
            background-image: url(../images/grid4.jpg);
            @include background;
        }
        .style2 {
            background-image: url(../images/grid5.jpg);
            @include background;
        }
        div {
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                transition: all 300ms ease-in-out;
            }
            a {
                display: flex;
                justify-content: center;
                color: white;
                font-size: 1.1rem;
            }
        }
        .text {
            @include text;
        }
        .date {
            @include date;
        }
    }
    
    .article__container2 {
        .category1, .category2, .category3, .category4, .category5 {
            border: 1px solid rgb(243, 237, 237);
            padding-top: 10px;
            margin: 25px;
            height: 110px;
        }
        .category1 .img {
            background-image: url(../images/m11.jpg);
            @include category;
        }
        .category2 .img {
            background-image: url(../images/m10.jpg);
            @include category;
        }
        .category3 .img {
            background-image: url(../images/m12.jpg);
            @include category;
        }
        .category4 .img {
            background-image: url(../images/m9.jpg);
            @include category;
        }
        .category5 .img {
            background-image: url(../images/m13.jpg);
            @include category;
        }
        .category1, .category2, .category3, .category4, .category5 {
            display: flex;
        }
        .category1 p, .category2 p, .category3 p, .category4 p, .category5 p {
            @include category-p;
        }
    }
}

#culture {
    width: 90%;
    margin: 0 auto;
    .culture__group1 {
        .parent {
            display: flex;
        }
        .img1 {
            background-image: url(../images/m1.jpg);
            @include category;
            
        }
        .img2 {
            background-image: url(../images/m2.jpg);
            @include category;
        }
        .img3 {
            background-image: url(../images/m3.jpg);
            @include category;
        }
        .img4 {
            background-image: url(../images/m4.jpg);
            @include category;
        }
    }
    .culture__group2 {
        .parent {
            display: flex;
        }
        .img5 {
            background-image: url(../images/m5.jpg);
            @include category;
        }
        .img6 {
            background-image: url(../images/m6.jpg);
            @include category;
        }
        .img7 {
            background-image: url(../images/m7.jpg);
            @include category;
        }
        .img8 {
            background-image: url(../images/m8.jpg);
            @include category;
        }
    }
    .advert {
        .img9 {
            background-image: url(../images/add.jpg);
            @include background;
        }
    }
    .img_side_content {
        @include imgSideContent;
    }
    .date {
        @include date;
    }
}

#beauty {
    h3 {
        padding-top: 160px;
    }
    .article1 {
        background-image: url(../images/grid20.jpg);
        @include background;
        height: 50vh !important;
    }
    .article2 {
        background-image: url(../images/grid7.jpg);
        @include background;
    }
    .article3 {
        background-image: url(../images/grid8.jpg);
        @include background;
    }
    .artticle {
        background-image: url(../images/grid6.jpg);
        @include background;
    }
    .wrapper div {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 300ms ease-in-out;
        }
    }
    .wrapper a {
        color: #fff;
        position: relative;
        top: 50%;
        display: block;
        text-align: center;
        @include h5BP;
        &:hover {
            color: $pinkish;
            transition: all 300ms ease-in-out;
        }
    }
    .text {
        @include text;
    }
    .date {
        @include date;
    }
    .link {
        @include link;
    }
}
#beauty {
    h3 {
        padding-top: 0px;
    }
    .article1 {
        background-image: url(../images/grid20.jpg);
        @include background;
        height: 50vh !important;
    }
    .article2 {
        background-image: url(../images/grid7.jpg);
        @include background;
    }
    .article3 {
        background-image: url(../images/grid8.jpg);
        @include background;
    }
    .artticle {
        background-image: url(../images/grid6.jpg);
        @include background;
    }
    .wrapper div {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 300ms ease-in-out;
        }
    }
    .wrapper a {
        color: #fff;
        position: relative;
        top: 50%;
        display: block;
        text-align: center;
        @include h5BP;
        &:hover {
            color: $pinkish;
            transition: all 300ms ease-in-out;
        }
    }
    .text {
        @include text;
    }
    .date {
        @include date;
    }
    .link {
        @include link;
    }
}
#tech {
    @include parentFormat;
    h3 {
        padding-top: 70px;
    }
    .article1 {
        background-image: url(../images/grid9.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 40px;
    }
    .article2 {
        background-image: url(../images/grid10.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 40px;
    }
    .article3 {
        background-image: url(../images/grid5.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 40px;
    }
    
    .text {
        @include text;
    }
    .date {
        @include date;
    }
    .link {
        @include link;
    }
}

#top_cat {
    h3 {
        padding-top: 70px;
    }
    .article1 {
        background-image: url(../images/grid11.jpg);
        @include background;
        width: 45% !important;
        height: 30vh !important;
        padding-bottom: 0;
    }
    .article2 {
        background-image: url(../images/grid12.jpg);
        @include background;
        width: 45% !important;
        height: 30vh !important;
        padding-bottom: 0;
    }
    .article3 {
        background-image: url(../images/grid13.jpg);
        @include background;
        width: 45% !important;
        height: 30vh !important;
        padding-bottom: 0;
        margin-top: -14rem;
        position: relative;
    }
    .flex {
        display: flex;
    }
    .wrapper .article1 div, .article2 div, .article3 div {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            transition: all 300ms ease-in-out;
            opacity: 1;
        }
    }
    .wrapper a {
        opacity: 0;
        color: #fff;
        position: relative;
        top: 50%;
        display: block;
        text-align: center;
        @include h5BP;
        &:hover {
            color: $pinkish;
            transition: all 300ms ease-in-out;
            opacity: 1;
        }
    }
}

#trends {
    @include parentFormat;
    h3 {
        padding-top: 0px;
    }
    /*.parent {
        display: flex;
    }*/
    .article1 {
        background-image: url(../images/grid16.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 40px;
    }
    .article2 {
        background-image: url(../images/grid17.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 40px;
    }
    .article3 {
        background-image: url(../images/grid13.jpg);
        @include background;
        height: 50vh !important;
        margin-bottom: 40px;
    }
    
    .text {
        @include text;
    }
    .date {
        @include date;
    }
    .link {
        @include link;
    }
}

#subs {
    width: 95%;
    height: 40%;
    margin: 0 auto;
    background-color: rgb(28, 28, 124);
    .wrapper {
        background-image: url(../images/strip.png);
        @include background;
        width: 100% !important;
        height: 100% !important;
    }
    .wrapper p {
        text-align: center;
        padding-top: 30px;
        color: white;
    }
    .wrapper h3 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(28, 28, 124);
    }
    .wrapper input {
        display: block;
        margin-top: 50px !important;
        padding: 20px 100px;
        font-weight: 600;
        color: rgb(28, 28, 124);
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid  rgb(81, 133, 230);
    }
    .wrapper a {
        display: block;
        padding: 15px 30px;
        font-weight: 600;
        background-color: rgb(242, 15, 250);
        color: rgb(28, 28, 124);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
}

#footer {
    .container {
    margin-top: 50px;
    width: 100%;
    background-color: #000;
    color: white;
    .aboutus {
        width: 95%;
        margin: 0 auto;
        h4 {
            text-transform: uppercase;
            color: #fff;
            padding: 40px 0 15px 15px;
            font-size: 1.3rem;
        }
        p {
            padding-left: 15px;
            line-height: 20px;
            font-size: 14px;
            color: rgb(139, 138, 138)
        }
        .social .fab {
            color: white;
            font-size: 1.7rem;
            padding-left: 12px;
            padding-top: 2.2rem;
            &:hover {
                color: $pinkish;
            }
        }
    }
    .topics {
        width: 95%;
        margin: 30px auto;
        h4 {
            text-transform: uppercase;
            padding: 40px 0 15px 15px;
            color: #fff;
            font-size: 1.3rem;
        }
        .parent {
            display: flex;
        }
        .img1 {
            background-image: url(../images/m1.jpg);
            @include category;
            
        }
        .img2 {
            background-image: url(../images/m2.jpg);
            @include category;
        }
        .img3 {
            background-image: url(../images/m3.jpg);
            @include category;
        }
        .img_side_content {
            @include imgSideContent;
        }
        .text {
            @include text;
            color: #fff;
        }
    }
    .info {
        width: 95%;
        margin: 0 auto;
        padding-bottom: 30px;
        h4 {
            text-transform: uppercase;
            padding: 40px 0 15px 15px;
            color: #fff;
            font-size: 1.3rem;
        }
        .wrapper {
            display: flex;
            color: rgb(139, 138, 138);
            line-height: 30px;
            font-size: 14px;
        }
        .container__1 {
            padding-right: 70px;
            padding-left: 18px;
            cursor: pointer;
            ul li a {
                color: rgb(139, 138, 138);
                &:hover {
                    color: $pinkish;
                }
            }
        }
        .container__2 {
            cursor: pointer;
            ul li a {
                color: rgb(139, 138, 138);
                &:hover {
                    color: $pinkish;
                }
            }
        }
     }
  }
    .copyright {
        margin-top: 30px;
        background-color: rgb(2, 2, 29);
        padding: 20px 10px;
        font-size: 14px;
        text-align: center;
        color: white;
        margin-top: 0px;
    }
}

@media screen and (min-width: 768px) {
    #culture .wrapper {
        display: flex;
    }
    #news {
        max-width: 90%;
        margin: 0 auto;
        .wrapper {
            display: flex;
        }
        .article1 {
            height: 60vh !important;
        }
        .article2 {
            height: 40vh !important;
            margin-left: 15px;
        }
        .article3 {
            height: 40vh !important;
            margin-left: 15px;
        }
    }
    .post_item1 p, .post_item2 p, .post_item3 p, .post_item4 p {
        width: 20rem !important;
        margin-left: 30px !important;
        color: #000 !important;
    }
    .post_item1 span, .post_item2 span, .post_item3 span, .post_item4 span {
        width: 20rem !important;
        margin-left: 30px !important;
        font-size: 14px;
    }
    #article {
        width: 95%;
        margin: 0 auto;
        .article__container1 {
            display: flex;
        }
        .section2 {
            height: 50vh !important;
            margin-right: 20px;
        }
    }
    #lifestyle {
        .article__container1 {
            display: flex;
            width: 90%;
            margin: 0 auto;
        }
        .article__container1 .style1 {
            width: 50% !important;
            height: 40vh !important;
            margin-right: 20px;
        } 
        .article__container1 .style2 {
            width: 50% !important;
            height: 40vh !important;
            margin-left: 20px;
        }
    }
    #beauty {
        width: 95%;
        margin: 0 auto;
        .wrapper {
            display: flex;
        }
        .artticle {
            height: 40vh !important;
            margin-left: 15px;
        }
        .article2 {
            height: 40vh !important;
            margin-left: 15px;
        }
        .article3 {
            height: 40vh !important;
            margin-left: 15px;
        }
    }
    #tech {
        .parent {
            display: flex;
            margin-right: 20px;
        }
        .article1 {
            height: 35vh !important;
        }
        .article2 {
            height: 35vh !important;
        }
        .article3 {
            height: 35vh !important;
        }
        .content {
            width: 80%;
            align-self: center;
            margin-left: 20px;
        }
    }
    #trends {
        width: 95%;
        margin: 0 auto;
        .wrapper {
            display: flex;
        }
        .article1 {
            height: 40vh !important;
            margin-left: 15px;
        }
        .article2 {
            height: 40vh !important;
            margin-left: 15px;
        }
        .article3 {
            height: 40vh !important;
            margin-left: 15px;
        }
    }
    #top_cat {
        width: 95%;
        margin: 0 auto;
        .article1 {
            width: 55% !important;
            height: 50vh !important;
            padding-bottom: 0;
        }
        .article2 {
            width: 55% !important;
            height: 50vh !important;
            padding-bottom: 0;
        }
        .article3 {
            width: 55% !important;
            height: 50vh !important;
            padding-bottom: 0;
            margin-top: -14rem;
            position: relative;
        }
    }
    #article {
        .article__container2 {
            .post_item1 .img {
                @include desktop;
            }
            .post_item2 .img {
                @include desktop;
            }
            .post_item3 .img {
                @include desktop;
            }
            .post_item4 .img {
                @include desktop;
            }
            .post_item1 p, .post_item2 p, .post_item3 p, .post_item4 p {
                font-size: 1.4rem;
            }
            .post_item1 span, .post_item2 span, .post_item3 span, .post_item4 span {
                font-size: 16px;
            }
        }
    }
}


@media screen and (min-width: 900px) {
    #news {
        max-width: 90%;
        margin: 0 auto;
        .wrapper {
            display: flex;
        }
        .article1 {
            height: 90vh !important;
        }
        .article2 {
            height: 70vh !important;
            margin-left: 15px;
        }
        .article3 {
            height: 70vh !important;
            margin-left: 15px;
        }
    }
    #culture .wrapper {
        display: flex;
    }
    .post_item1 p, .post_item2 p, .post_item3 p, .post_item4 p {
        width: 25rem !important;
        margin-left: 30px !important;
        color: #000 !important;
    }
    .post_item1 span, .post_item2 span, .post_item3 span, .post_item4 span {
        width: 25rem !important;
        margin-left: 30px !important;
        font-size: 14px;
    }
}

@media screen and (min-width: 990px) {
    #article {
        .one {
            position: relative;
            right: 390px;
            top: 110px;
            line-height: 40px;
        }
        .article__container1 {
            display: flex;
            max-width: 100%;
            padding-top: 20px;
        }
        .section2 {
            height: 40vh;
            margin-left: 20px;
        }
    }
    #lifestyle {
        .wrapper {
            display: flex;
            .article__container1 {
                display: flex;
                max-width: 70%;
                padding-top: 15px;
                .style1, .style2 {
                    margin-left: 20px;
                }
            }
            .article__container2 {
                padding-top: 80px;
                position: relative;
            }
        }
    }
    #news {
        max-width: 90%;
        margin: 0px auto;
        .wrapper {
            display: flex;
        }
        .article1 {
            height: 70vh !important;
            margin: 20px;
        }
        .article2 {
            height: 50vh !important;
            margin: 20px;
        }
        .article3 {
            height: 50vh !important;
            margin: 20px;
        }
    }
    #article {
        .wrapper {
            display: flex;
            .article__container1 {
                padding-top: 110px;
                margin: 0 auto;
                .article1 {
                    @include desktop;
                    height: 40vh !important;
                    margin-left: 0;
                }
                .article2 {
                    @include desktop;
                    height: 40vh !important;
                    margin-left: 0;
                }
                .article3 {
                    @include desktop;
                    height: 40vh !important;
                    margin-left: 0;
                }
            }
            .article__container2 {
                margin: 0 auto;
                .post_item1 .img {
                    @include category;
                }
                .post_item2 .img {
                    @include category;
                }
                .post_item3 .img {
                    @include category;
                }
                .post_item4 .img {
                    @include category;
                }
                .post_item1, .post_item2, .post_item3, .post_item4 {
                    display: flex;
                }
                .post_item1 p, .post_item2 p, .post_item3 p, .post_item4 p {
                    width: 12rem !important;
                    margin-left: 0 !important;
                    font-size: 14px;
                    color: #000 !important;
                }
                .post_item1 span, .post_item2 span, .post_item3 span, .post_item4 span {
                    @include post-item;
                    margin-left: 0 !important;
                    font-size: 14px;
                }
            }
        }
    }
    #culture .wrapper {
        width: 80%;
        margin-top: -500px;
        margin-left: -40px;
    }
    #footer {
        .container {
            height: 80%;
        } .container .wrapper {
            display: flex;
        }
        .container .wrapper .aboutus {
            padding-top: 50px;
            padding-left: 20px;
        }
        .container .wrapper .aboutus p {
            max-width: 300px;
        }
        .container .wrapper .topics {
            padding-top: 20px;
        }
        .container .wrapper .topics .parent {
            height: 110px;
        }
        .container .wrapper .info {
            width: 30%;
            margin-right: 40px;
            padding-top: 50px;
        }
    }
    
}

@media screen and (min-width: 1200px) {
    #news {
        .article1 {
            height: 90vh !important;
        }
        .article2 {
            height: 70vh !important;
            margin-left: 15px;
        }
        .article3 {
            height: 70vh !important;
            margin-left: 15px;
        }
    }
    #footer {
        .container .wrapper .aboutus {
            padding-left: 70px;
            max-width: 34%
        }
        .container .wrapper .aboutus p {
            max-width: 250px;
        }
    }
}